{% extends "auth-base.html" %}

{% block title %}Login{% endblock %}

{% block form-title %}Sign In{% endblock %}

{% block form %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
        <span>{{form.username.label_tag}}</span>
        {{form.username}}
    </div>
    <div>
        <span>{{form.password.label_tag}}</span>
        {{form.password}}
    </div>
    <button class="cta-button" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="hidden" value="login">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="text-center"><a class="link" href="{% url 'django_registration_register' %}">Need an account?</a></p>
<p class="text-center"><a class="link" href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}