{% extends "auth-base.html" %}

{% block title %}Login{% endblock %}

{% block form-title %}Sign In{% endblock %}

{% block form %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{form}}
    <button class="cta-button" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="hidden" value="login">
</form>
<p>OR</p>
<form method="post" action="{% url 'google_login' %}">
    {% csrf_token %}
    <button type="submit">
        <img src="/static/img/google-button.png" alt="">
    </button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="text-center"><a class="link" href="{% url 'django_registration_register' %}">Need an account?</a></p>
<p class="text-center"><a class="link" href="{% url 'password_reset' %}">Forgot password?</a></p>

{% endblock %}