table {
    margin-top: 46px;
}

tr .actions clr-icon {
    visibility: hidden;
}

tr:hover a clr-icon {
    visibility: visible;
}

.email:hover span{
    color: black;
}

.email:hover clr-icon {
    visibility: visible;
}

.email {
    cursor: pointer;
}

