.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

tr .actions clr-icon {
    visibility: hidden;
}

tr:hover a clr-icon {
    visibility: visible;
}

tr clr-icon {
    color: #AAAAAA;
}

tr clr-icon:hover {
    color: var(--secondary-dark);
}

.email:hover span{
    color: black;
}

.email:hover clr-icon {
    visibility: visible;
}

.email {
    cursor: pointer;
}

@media only screen 
and (max-width : 990px) {
    tr .actions clr-icon {
        visibility: visible;
    }
}