
:root {
    --primary-dark: #F49870; 
    --primary-dark-highlight: #EE946D;
    --secondary-dark: #292929
}

body {
    background: linear-gradient(135.77deg, #F9D29D 6.97%, #FFD8CB 97%);
    font-family: Inter;
    min-height: 100vh;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

a {
    text-decoration: none !important;
    color: var(--primary-dark);
}

.link:hover {
    color: var(--primary-dark);
    text-decoration: underline !important;
}

input {
    background: #E2E2E2;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 11px;
    outline: none;
    border: none;
    height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8E8E8E;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8E8E8E;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8E8E8E;
}

section {
    margin-top: 128px;
}

nav {
    background: #FCFCFC;
    box-shadow: 0px 0px 25px 4px rgba(94, 94, 94, 0.25);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-primary {
    background: var(--primary-dark);
}

table {
    border-collapse: collapse;
}

th {
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.06);
    padding: 15px;
    background: #E9E9E9;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #595959;
    height: 49px;
}

th:first-child{
    border-radius: 7px 0 0 7px;
}

th:last-child{
    border-radius:0 7px 7px 0;
}

td {
    padding: 19px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

tr:first-child td:first-child{
    border-top-left-radius: 7px;
}

tr:first-child td:last-child{
    border-top-right-radius: 7px;
}

tr:last-child td:first-child{
    border-bottom-left-radius: 7px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 7px;
}

tr:nth-child(2n) td {
    background-color: #E9E9E9;
}

td {
    background-color: #F3F3F3;
}

tbody:before {
    content: "@";
    display: block;
    line-height: 20px;
    text-indent: -99999px;
}

form label, .form label {
    display: block;
}
form input, .form input {
    width: 100%;
}