{% load activeurl %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/favicons/favicon-32.png" alt="" style="width: 30px; height:30px">
            <span style="font-weight: bold;font-size: 16.4383px;">ForwardMail</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% activeurl menu="no" parent_tag="self" %}
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'home' %}">Aliases</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Settings</a>
                {% else %}
                
                {% endif %}
                
            </div>
            {% endactiveurl %}
        </div>
    </div>
</nav>