{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}
<section>
    <div class="card">
        <h1 style="margin-bottom: 25px;">Settings</h1>
        <div>
            <h3>Account</h3>
            {% if not request.user.is_verified %}
            <div>Email not verified. <a href="">Click here</a> to resend verification email.</div>
            {% endif %}
            <div>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <div>
                {% csrf_token %}
                <form action="{% url 'logout' %}" onsubmit="return confirm('Are you sure you would like to delete your account? All aliases will be deleted forever and cannot be recovered.')">
                <a><button class="text-danger" type="submit" style="padding-left: 0;">Delete account</button></a>
                </form>
            </div>
            <!-- <form action="{% url 'logout' %}"></form> -->
            
        </div>
    </div>
    
</section>
{% endblock %}